h4.utc-time {
    color: #AA3333;
}

.server-time {
    font-size: 2em;
    color: red;
}

div.top-content{
    background-color:#FFF;
    height:700px;
    text-align: center;
}

img.hero{
  width:100%;
  height:auto;
}

h1.hero-heading{
  font-size: 72pt;
  font-weight:bold;
}

button.hero-btn{
  width:125px;
  height:67px;
  font-size:16pt;
  background-color:#9ACAEE;
  color: #000;
  font-weight:bold;
}
